.body {
  min-height:100vh;
}

.container { 
  background-color: #e6dfcb;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 0.9fr 0.6fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "header header header"
    "photo main sub"
    "footer footer footer";
}

.footer {
  background-color: #eb5a09;
  grid-area: footer;
  justify-items: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  color: #e6dfcb;
  width:100%;
}

#footer_img{
  width:15%;
}

#footer_url{
  font-size: 10px
}

.footer a{
  text-decoration: none;
  color:#567947;
  font-size:10px;
}

.header {
  align-items: center;
  justify-items: center;
  background-color: #eb5a09;
  grid-area: header; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  color: #e6dfcb;
}

#header_p, #footer_p{
  margin: 0px;
}

.main { 
  grid-area: main; 
  justify-items: center;
  align-items: center;
  color: #567947;
}

#p_content2{
  padding: .5em .7em;
  border-left: 5px solid #eb5a09;
  color:#eb5a09;
  font-weight:900;
  font-family: cursive;
}

#p_content1{
  padding: .5em .7em;
  border-radius: 50px 0 0 50px;
  background-color: #eb5a09;
  color: #567947;
  font-weight:900;
  font-family: fantasy;
}

#p_content3{
  align-items: center;
  padding: .5em .7em;
  background-color: #567947;
  color: #eb5a09;
  font-weight:900;
  font-family: math;
}

#p_content_li{
  list-style-type: disc;
  list-style-position: inside;
  padding: 1em;
  border: 2px solid #567947;
  font-weight:900;
  font-family: system-ui;
}

.photo {  display: grid;
  grid-template-columns: 1.5fr 0.1fr 1.5fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "photo1 . photo1_comment"
    "photo2_comment . photo2"
    "photo3 . photo3_comment";
  grid-area: photo;
}

.photo1{ 
  grid-area: photo1;
  align-self: center;
}

.photo2{ 
  grid-area: photo2; 
  align-self: center;  
}

.photo3 { 
  grid-area: photo3; 
  align-self: center;
}

.photo1_comment { 
  grid-area: photo1_comment;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #567947;
}

.photo2_comment { 
  grid-area: photo2_comment;  
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #eb5a09;
}

.photo3_comment { 
  grid-area: photo3_comment; 
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #567947;
}

.font_dan{font-family: 'Dancing Script', cursive;}
.font_sans{font-family: sans-serif;}
.font_fan{font-family: fantasy;}

.photo_img{
  width:90%;
  }

.sub { 
  grid-area: sub;
  border: 2px solid;
  border-color:#ed5a09;
  font-weight:700;
  color:#ed5a09;
}

.sub_ui {
  font-family: sans-serif;
}

input {
  appearance: none;
  border: 2px solid #ddd;
  border-radius: 8px; /* 角丸 */
  padding: 3px 3px;
  font-size: 15px;
  transition: border-color 0.3s; /* フォーカス時のアニメーション */
  width:70%;
  justify-self: center;
}

.center{
    justify-items: center;
  align-items: center;
}
